{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container">
    <h1>Liste des catégories</h1>
    <a class="btn btn-primary" href="{{ path('app_categories_new') }}">Nouvelle catégorie</a>
<!-- pour chaque categorie dans categories, affiche nom -->
    {% for category in categories %}
        <h2>
            <a href="{{ path('app_categories_show', {id: category.id}) }}">{{ category.name }}</a>
        </h2>
    
<!-- fin de l'affichage -->
    {% endfor %}
    </div>
{% endblock %}

